apples-ecommerce-ws/WebContent/wsdl/Customer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://db" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://db" xmlns:intf="http://db" xmlns:tns1="http://Serializables" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://db" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://Serializables"/>
   <element name="delete">
    <complexType/>
   </element>
   <element name="deleteResponse">
    <complexType>
     <sequence>
      <element name="deleteReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="modify">
    <complexType>
     <sequence>
      <element name="salutation" type="xsd:string"/>
      <element name="name" type="xsd:string"/>
      <element name="surname" type="xsd:string"/>
      <element name="country" type="xsd:string"/>
      <element name="province" type="xsd:string"/>
      <element name="city" type="xsd:string"/>
      <element name="street" type="xsd:string"/>
      <element name="streetNo" type="xsd:string"/>
      <element name="zip" type="xsd:string"/>
      <element name="email" type="xsd:string"/>
      <element name="pwd" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="modifyResponse">
    <complexType>
     <sequence>
      <element name="modifyReturn" type="tns1:CustomerObject"/>
     </sequence>
    </complexType>
   </element>
   <element name="findByCookie">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
      <element name="cookieId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="findByCookieResponse">
    <complexType>
     <sequence>
      <element name="findByCookieReturn" type="tns1:CustomerObject"/>
     </sequence>
    </complexType>
   </element>
   <element name="findByEmail">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="findByEmailResponse">
    <complexType>
     <sequence>
      <element name="findByEmailReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://Serializables" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="CustomerObject">
    <sequence>
     <element name="address" nillable="true" type="xsd:string"/>
     <element name="city" nillable="true" type="xsd:string"/>
     <element name="email" nillable="true" type="xsd:string"/>
     <element name="firstname" nillable="true" type="xsd:string"/>
     <element name="id" type="xsd:int"/>
     <element name="lastname" nillable="true" type="xsd:string"/>
     <element name="organization" nillable="true" type="xsd:string"/>
     <element name="zip" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="deleteRequest">

      <wsdl:part element="impl:delete" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findByEmailResponse">

      <wsdl:part element="impl:findByEmailResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="modifyRequest">

      <wsdl:part element="impl:modify" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findByEmailRequest">

      <wsdl:part element="impl:findByEmail" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findByCookieRequest">

      <wsdl:part element="impl:findByCookie" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="modifyResponse">

      <wsdl:part element="impl:modifyResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findByCookieResponse">

      <wsdl:part element="impl:findByCookieResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteResponse">

      <wsdl:part element="impl:deleteResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Customer">

      <wsdl:operation name="delete">

         <wsdl:input message="impl:deleteRequest" name="deleteRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteResponse" name="deleteResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modify">

         <wsdl:input message="impl:modifyRequest" name="modifyRequest">

       </wsdl:input>

         <wsdl:output message="impl:modifyResponse" name="modifyResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="findByCookie">

         <wsdl:input message="impl:findByCookieRequest" name="findByCookieRequest">

       </wsdl:input>

         <wsdl:output message="impl:findByCookieResponse" name="findByCookieResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="findByEmail">

         <wsdl:input message="impl:findByEmailRequest" name="findByEmailRequest">

       </wsdl:input>

         <wsdl:output message="impl:findByEmailResponse" name="findByEmailResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CustomerSoapBinding" type="impl:Customer">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="delete">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modify">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modifyRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="modifyResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="findByCookie">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findByCookieRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="findByCookieResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="findByEmail">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findByEmailRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="findByEmailResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CustomerService">

      <wsdl:port binding="impl:CustomerSoapBinding" name="Customer">

         <wsdlsoap:address location="http://localhost:8081/apples-ecommerce-ws/services/Customer"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
