apples-ecommerce-ws/WebContent/wsdl/LoginService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://db" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://db" xmlns:intf="http://db" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://db" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getPublicKey">
    <complexType/>
   </element>
   <element name="getPublicKeyResponse">
    <complexType>
     <sequence>
      <element name="getPublicKeyReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="login">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
      <element name="pwd" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="loginResponse">
    <complexType>
     <sequence>
      <element name="loginReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getError">
    <complexType/>
   </element>
   <element name="getErrorResponse">
    <complexType>
     <sequence>
      <element name="getErrorReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createNewUser">
    <complexType>
     <sequence>
      <element name="salutation" type="xsd:string"/>
      <element name="name" type="xsd:string"/>
      <element name="surename" type="xsd:string"/>
      <element name="country" type="xsd:string"/>
      <element name="province" type="xsd:string"/>
      <element name="city" type="xsd:string"/>
      <element name="street" type="xsd:string"/>
      <element name="streetNo" type="xsd:string"/>
      <element name="zip" type="xsd:string"/>
      <element name="customer_id" type="xsd:int"/>
      <element name="email" type="xsd:string"/>
      <element name="pwd" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createNewUserResponse">
    <complexType>
     <sequence>
      <element name="createNewUserReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="logout">
    <complexType>
     <sequence>
      <element name="cookie_id" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="logoutResponse">
    <complexType>
     <sequence>
      <element name="logoutReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="loginCookie">
    <complexType>
     <sequence>
      <element name="cookieId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="loginCookieResponse">
    <complexType>
     <sequence>
      <element name="loginCookieReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateToken">
    <complexType>
     <sequence>
      <element name="customerId" type="xsd:int"/>
      <element name="token" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateTokenResponse">
    <complexType>
     <sequence>
      <element name="updateTokenReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPublicKeyFromEmail">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPublicKeyFromEmailResponse">
    <complexType>
     <sequence>
      <element name="getPublicKeyFromEmailReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="insertNewToken">
    <complexType>
     <sequence>
      <element name="customerId" type="xsd:int"/>
      <element name="token" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="insertNewTokenResponse">
    <complexType>
     <sequence>
      <element name="insertNewTokenReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateCookieToken">
    <complexType>
     <sequence>
      <element name="customerId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateCookieTokenResponse">
    <complexType>
     <sequence>
      <element name="updateCookieTokenReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCustomerIdFromToken">
    <complexType>
     <sequence>
      <element name="cookieId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCustomerIdFromTokenResponse">
    <complexType>
     <sequence>
      <element name="getCustomerIdFromTokenReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCookieToken">
    <complexType/>
   </element>
   <element name="getCookieTokenResponse">
    <complexType>
     <sequence>
      <element name="getCookieTokenReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getEncryptedString">
    <complexType>
     <sequence>
      <element name="toEncrpy" type="xsd:string"/>
      <element name="pbKey" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getEncryptedStringResponse">
    <complexType>
     <sequence>
      <element name="getEncryptedStringReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getCustomerIdFromTokenResponse">

      <wsdl:part element="impl:getCustomerIdFromTokenResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateTokenResponse">

      <wsdl:part element="impl:updateTokenResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getEncryptedStringRequest">

      <wsdl:part element="impl:getEncryptedString" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getErrorResponse">

      <wsdl:part element="impl:getErrorResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getErrorRequest">

      <wsdl:part element="impl:getError" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="insertNewTokenRequest">

      <wsdl:part element="impl:insertNewToken" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getEncryptedStringResponse">

      <wsdl:part element="impl:getEncryptedStringResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPublicKeyRequest">

      <wsdl:part element="impl:getPublicKey" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateCookieTokenRequest">

      <wsdl:part element="impl:updateCookieToken" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateTokenRequest">

      <wsdl:part element="impl:updateToken" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPublicKeyFromEmailResponse">

      <wsdl:part element="impl:getPublicKeyFromEmailResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="logoutResponse">

      <wsdl:part element="impl:logoutResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createNewUserRequest">

      <wsdl:part element="impl:createNewUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateCookieTokenResponse">

      <wsdl:part element="impl:updateCookieTokenResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPublicKeyResponse">

      <wsdl:part element="impl:getPublicKeyResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCustomerIdFromTokenRequest">

      <wsdl:part element="impl:getCustomerIdFromToken" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginCookieResponse">

      <wsdl:part element="impl:loginCookieResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createNewUserResponse">

      <wsdl:part element="impl:createNewUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCookieTokenRequest">

      <wsdl:part element="impl:getCookieToken" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginCookieRequest">

      <wsdl:part element="impl:loginCookie" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPublicKeyFromEmailRequest">

      <wsdl:part element="impl:getPublicKeyFromEmail" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginRequest">

      <wsdl:part element="impl:login" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="insertNewTokenResponse">

      <wsdl:part element="impl:insertNewTokenResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="logoutRequest">

      <wsdl:part element="impl:logout" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginResponse">

      <wsdl:part element="impl:loginResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCookieTokenResponse">

      <wsdl:part element="impl:getCookieTokenResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="LoginService">

      <wsdl:operation name="getPublicKey">

         <wsdl:input message="impl:getPublicKeyRequest" name="getPublicKeyRequest">

       </wsdl:input>

         <wsdl:output message="impl:getPublicKeyResponse" name="getPublicKeyResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="login">

         <wsdl:input message="impl:loginRequest" name="loginRequest">

       </wsdl:input>

         <wsdl:output message="impl:loginResponse" name="loginResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getError">

         <wsdl:input message="impl:getErrorRequest" name="getErrorRequest">

       </wsdl:input>

         <wsdl:output message="impl:getErrorResponse" name="getErrorResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createNewUser">

         <wsdl:input message="impl:createNewUserRequest" name="createNewUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:createNewUserResponse" name="createNewUserResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="logout">

         <wsdl:input message="impl:logoutRequest" name="logoutRequest">

       </wsdl:input>

         <wsdl:output message="impl:logoutResponse" name="logoutResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="loginCookie">

         <wsdl:input message="impl:loginCookieRequest" name="loginCookieRequest">

       </wsdl:input>

         <wsdl:output message="impl:loginCookieResponse" name="loginCookieResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateToken">

         <wsdl:input message="impl:updateTokenRequest" name="updateTokenRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateTokenResponse" name="updateTokenResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPublicKeyFromEmail">

         <wsdl:input message="impl:getPublicKeyFromEmailRequest" name="getPublicKeyFromEmailRequest">

       </wsdl:input>

         <wsdl:output message="impl:getPublicKeyFromEmailResponse" name="getPublicKeyFromEmailResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="insertNewToken">

         <wsdl:input message="impl:insertNewTokenRequest" name="insertNewTokenRequest">

       </wsdl:input>

         <wsdl:output message="impl:insertNewTokenResponse" name="insertNewTokenResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateCookieToken">

         <wsdl:input message="impl:updateCookieTokenRequest" name="updateCookieTokenRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateCookieTokenResponse" name="updateCookieTokenResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCustomerIdFromToken">

         <wsdl:input message="impl:getCustomerIdFromTokenRequest" name="getCustomerIdFromTokenRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCustomerIdFromTokenResponse" name="getCustomerIdFromTokenResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCookieToken">

         <wsdl:input message="impl:getCookieTokenRequest" name="getCookieTokenRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCookieTokenResponse" name="getCookieTokenResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getEncryptedString">

         <wsdl:input message="impl:getEncryptedStringRequest" name="getEncryptedStringRequest">

       </wsdl:input>

         <wsdl:output message="impl:getEncryptedStringResponse" name="getEncryptedStringResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="LoginServiceSoapBinding" type="impl:LoginService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getPublicKey">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPublicKeyRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getPublicKeyResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="login">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="loginResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getError">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getErrorRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getErrorResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createNewUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createNewUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createNewUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="logout">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="logoutRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="logoutResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="loginCookie">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginCookieRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="loginCookieResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateToken">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateTokenRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateTokenResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPublicKeyFromEmail">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPublicKeyFromEmailRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getPublicKeyFromEmailResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="insertNewToken">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="insertNewTokenRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="insertNewTokenResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateCookieToken">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateCookieTokenRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateCookieTokenResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCustomerIdFromToken">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCustomerIdFromTokenRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCustomerIdFromTokenResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCookieToken">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCookieTokenRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCookieTokenResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getEncryptedString">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getEncryptedStringRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getEncryptedStringResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="LoginServiceService">

      <wsdl:port binding="impl:LoginServiceSoapBinding" name="LoginService">

         <wsdlsoap:address location="http://localhost:8080/apples-ecommerce-ws/services/LoginService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
